{%extends 'base_bottom_top.html'%}
{% load static from staticfiles %}
{%block js%}

{%endblock js%}

{%block main%}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for type in types %}
                <li><a href="#model0{{ forloop.counter }}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for i in goods_banners %}
				    <li><img src="{{ i.image.url }}" alt="幻灯片"></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for banner in promotion_banners %}
                <a href="#"><img src="{{ banner.image.url }}"></a>
            {% endfor %}
		</div>
	</div>

    {% for type in types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">{{ type.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for banner in type.title_banners %}
                    <a href="{% url 'goods:detail' %}?skuid={{ banner.sku_id }}">{{ banner.sku.name}}</a>
                {% endfor %}
			</div>
			<a href="{% url 'goods:goodsList' %}?type={{ type.id }}" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="{% url 'goods:goodsList' %}?type={{ type.id }}"><img src="{{ type.image.url }}"></a></div>
			<ul class="goods_list fl">
                {% for banner in type.image_banners %}
                    <li>
                        <h4><a href="{% url 'goods:detail' %}?skuid={{ banner.sku_id }}">{{ banner.sku.goods.name}}</a></h4>
                        <a href="{% url 'goods:detail' %}?skuid={{ banner.sku_id }}"><img src="{{ banner.sku.image.url }}"></a>
                        <div class="prize">{{ banner.sku.price }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

{%endblock main%}

{%block end %}
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}


	</script>
{% endblock end%}
