{% extends 'base_user_center.html' %}
{% load static from staticfiles %}
{% block title %}{{ title }}{% endblock title %}

	{% block js %}
         <script type="text/javascript">
             $(function () {
            pro=$('#pro');
            city=$('#city');
            dis=$('#dis');
            $.get('/user/area/0',function (dic) {
                console.log('1')
                $.each(dic.data,function (index, item) {
                     var item0 = item[0];
                        if(item0=={{ sheng_id }}){
                            pro.append('<option selected value="'+item[0]+'">'+item[1]+'</option>')
                        }
                        else {
                            pro.append('<option  value="'+item[0]+'">'+item[1]+'</option>')
                        }
                })
            });
            $.get('/user/city={{ sheng_id }}',function (dic) {
                $.each(dic.data,function (index, item) {
                    var itemid=item.id
                    if(itemid == {{ shi_id }}){
                        city.append('<option selected value="'+item.id+'">'+item.title+'</option>')
                    }
                    else{
                        city.append('<option value="'+item.id+'">'+item.title+'</option>')
                    }
                })
            });
            $.get('/user/dis={{ shi_id }}',function (dic) {
                $.each(dic.data,function (index, item) {
                    var itemid=item.id
                    if(itemid == {{ xian_id }}){
                        dis.append('<option selected value="'+item.id+'">'+item.title+'</option>')
                    }
                    else{
                        dis.append('<option value="'+item.id+'">'+item.title+'</option>')
                    }
                })
            });

            pro.change(function (){
                $.get('/user/city='+$(this).val(),function (dic) {
                $('#city').empty().append('<option value="">请选择市</option>')
                $.each(dic.data,function (index, item) {
                    $('#city').append('<option value="'+item.id+'">'+item.title+'</option>')
                })
            })
            })
            city.change(function (){
                $.get('/user/dis='+$(this).val(),function (dic) {
                    $('#dis').empty().append('<option value="">请选择县（区）</option>')
                    $.each(dic.data,function (index, item) {
                        $('#dis').append('<option value="'+item.id+'">'+item.title+'</option>')
                })
            })
            })
        })


    </script>

	{% endblock js %}


{% block right %}
		<div class="right_content clearfix">
            <div class="site_con">
                <form method="post" action="{% url 'user:userInfo_revamp' %}" id="reg_form">
                    <h3 class="common_title2">编辑地址</h3>
                    {% csrf_token %}

                    <div class="form_group">
                        <input type="hidden" name="uid" value="{{ userinfo.id }}">
                        <label>收件人：</label>
                        <input type="text" name="shoujianren" value="{{ userinfo.userShou }}" required="required">
                    </div>
                    <div class="form_group form_group2">
                        <label>详细地址：</label>
                        <div><select id="pro" name="sheng" required>
                            <option value="">请选择省</option>
                        </select>
                        <select id="city" name="shi" required>
                            <option value="">请选择市</option>
                        </select>
                        <select id="dis" name="xian" required>
                            <option value="">请选择县（区）</option>
                        </select></div>
                        <textarea class="site_area" name="dizhi" required="required">{{ detial }}</textarea>
                    </div>
                    <div class="form_group">
                        <label>邮编：</label>
                        <input type="text" name="youbian" value="{{ userinfo.userYoubian }}" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="6" required="required">
                    </div>
                    <div class="form_group">
                        <label>手机：</label>
                        <input name="shouji" value="{{ userinfo.userPhone }}" type="text" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="11" required="required">
                    </div>
                    <div class="form_group">
                        <label>设为默认地址：</label>
                        <input name="is_default" value="1" type="checkbox" {% if userinfo.isShow == True %}checked{% endif %}>
                    </div>
                    <input type="submit" name="" value="提交" class="info_submit">
                </form>
            </div>
		</div>
{% endblock right %}
