{% extends 'base_bottom_top.html' %}
{% load static from staticfiles %}


{% block main %}
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user_center_info' %}" {% if page == 1 %}class="active"{% endif %}>· 个人信息</a></li>
				<li><a href="{% url 'user:user_center_order' %}" {% if page == 2 %}class="active"{% endif %}>· 全部订单</a></li>
				<li><a href="{% url 'user:user_center_site' %}" {% if page == 3 %}class="active"{% endif %}>· 收货地址</a></li>
			</ul>
		</div>{% block right %}{% endblock right %}
    </div>

{% endblock main %}



